body {
    padding-top: 80px;
}

.top-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.btn-accion {
    min-width: 90px;
    text-align: center;
    padding: 6px 10px !important;
    font-size: 14px;
}

.titulo-modulo {
    color: #0a1a2f;
    font-weight: bold;
}

.btn-aqua {
    background-color: #00c8a5;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
}

.btn-aqua:hover {
    background-color: #0a1a2f;
}

.btn-eliminar {
    background-color: #ff6b6b;
    color: white;
    border-radius: 8px;
}

.btn-eliminar:hover {
    background-color: #d9534f;
}

.table-azul {
    background: #0a1a2f !important;
    color: white;
}

footer {
    background: #0A1A2F;
    color: white;
    padding: 20px;
    text-align: left;       
    position: fixed;      
    bottom: 0;
    left: 0;
    width: 100%;           
    border-radius: 10px 10px 0 0;
    z-index: 999;
}